name: CI

on:
  push:
  pull_request:

jobs:
  php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - run: php bin/console cache:warmup --env=dev
      - run: composer cs:check
      - run: composer phpstan
      - run: composer rector -- --dry-run
      - run: composer test
